{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="my-4">Импорт заявок от менеджеров</h2>
            <form id="import-form" action="{% url 'farmer:import_management_orders' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="json_file" accept=".txt, .json" class="form-control-file" required>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
                <div id="form-response" class="mt-3" style="display:none;"></div> <!-- Элемент для вывода ответа -->
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById('import-form').addEventListener('submit', function(e) {
    e.preventDefault();
    var formResponse = document.getElementById('form-response');
    var formData = new FormData(this);
    fetch(this.action, {
        method: 'POST',
        body: formData
    }).then(response => response.json())
      .then(data => {
          formResponse.style.display = 'block'; // Показать элемент ответа
          if (data.success) {
              formResponse.className = 'alert alert-success'; // Класс для успешного сообщения
              formResponse.innerText = data.success;
          } else {
              formResponse.className = 'alert alert-danger'; // Класс для сообщения об ошибке
              formResponse.innerText = data.error;
          }
      }).catch(error => {
          console.error('Ошибка:', error);
          formResponse.className = 'alert alert-danger';
          formResponse.innerText = 'Произошла ошибка при отправке формы.';
          formResponse.style.display = 'block';
      });
});
</script>
{% endblock %}

